__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
tm_backups/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.ipynb_checkpoints

translation_diffs/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/

build.ps1
localization_tool_config.json
ow_translator_tm.xlsx
*.owprompt
manage_translations.py
babel.cfg

.DS_Store
Thumbs.db
/OverwatchLocalizer.spec