babel>=2.18.0
keyring>=25.6.0
fastapi>=0.135.0
langid>=1.1.6
numpy>=2.3.0
openpyxl~=3.1.5
packaging>=23.0
polib>=1.2.0
PySide6==6.10.2
PyYAML>=6.0.2
pyzipper>=0.3.6
rapidfuzz>=3.13.0
regex>=2024.11.6
requests>=2.32.4
tomlkit>=0.14.0
uvicorn[standard]>=0.41.0
watchdog>=6.0.0
xxhash>=3.6.0